<div class = "container pt-5">
 <div class = "d-flex align-items-center justify-content-center">
    <h1>お問合せありがとうございました！</h1>
 </div>
 <div class = "d-flex align-items-center justify-content-center">
    <p>いただきました問い合わせに対するご返答は１週間以内に<br>
    記載されたメールアドレス宛に送信いたしますのでしばしお待ちください。</p>
 </div>
 <div class = "d-flex align-items-center justify-content-center">
    <%= link_to "TOPに戻る", root_path %>
 </div>
</div>