<div class="container">
 <div class="row">
　 <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
         neppaでできること
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">関西サウナの検索</li>
          <li class="content__container__list__item">サウナグッズの購入</li>
          <li class="content__container__list__item">サウナに行きたくなる</li>
          <li class="content__container__list__item">イメトレできる</li>
        </ul>
      </div>
    </div>
 </div>
 <br><br><br><br><br><br>
    <h2>1.関西のサウナ情報を検索できる</h2>
    <p>当サイトneppaは、関西のお風呂屋さんの情報をまとめております！<br>
    さらに、各店舗のサウナ情報や、実際に熱波を浴びてきたサウナユーザーの<br>
    感想を書き込めるようになっているのでサウナーのリアルな声をキャッチ！</p>

    <h2 class = "pt-3">2.サウナに必要なグッズを購入できる</h2>
    <p>neppaでは、すでに日頃からサウナを愛する方だけでなく<br>
    これからサウナに通いたいとお考えの方や、友達をサウナに誘いたい方にも<br>
    お気軽に利用していただき、多くの方にサウナに行ってもらいたいと心から願っております！<br>
    ですので、これからサウナにハマろうかなという方にも安心なサウナグッズの販売を行なっております。</p>

    <h2 class = "pt-3">3.全てのサウナーたちの豊かなサウナライフを応援</h2>
    <p>我々は実店舗を経営しているわけではないので、実際に皆さんに熱波を届けることはできません。<br>
    しかし実際にお店の入り口に入るまでの全てをサポートし、多くの方に充実した<br>
    サウナライフを送ってほしいと強く願っています。我々の熱き想い、我々のneppaが皆様に届きますように…</p>
    <div class = "d-flex align-items-center justify-content-center">
        <%= link_to "TOPに戻る", root_path, class:"btn btn-success" %>
     </div>
     <!--asitakoko-->
</div>
