<div class="saunabody">
 <div class="row">
　 <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
         neppaでできること
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">関西サウナの検索</li>
          <li class="content__container__list__item">サウナグッズの購入</li>
          <li class="content__container__list__item">サウナに行きたくなる</li>
          <li class="content__container__list__item">イメトレできる</li>
        </ul>
      </div>
    </div>
 </div>
 <br><br><br><br><br><br><br><br>
    <h1>1.関西のサウナ情報を検索できる</h1>
    <p>aaa</p>
    <h1>2.サウナに必要なグッズを購入できる</h1>
    <p>aaa</p>
    <h1>3.「サウナで気持ちよくなりてぇ！」</h1>
    <p>aaa</p>
    <h1>4</h1>
    <p>aa</p>
    <div class = "d-flex align-items-center justify-content-center">
        <%= link_to "TOPに戻る", root_path %>
     </div>
</div>

