/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


.card{
  border-radius: 20px;
}

#box{
  padding: 50px;
  margin : 0 auto;
  width: 1000px;
  height: 700px;
}
.image1 {
  background-image: url(logo.png);
  border-radius: 20px;
}
.image2 {
  background-image: url(sauna.jpg);
  border-radius: 20px;
}
.image3 {
  background-image: url(ohuro.jpg);
  border-radius: 20px;
}
.image4 {
  background-image: url(stone.jpg);
  border-radius: 20px;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

#map{
  height: 100%;
}

// .main_visual_top{
//   position: absolute;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 200px 200px 0 0;
//   border-color: #ffffff transparent transparent transparent;
//   z-index:100;
// }
// .main_visual_under{
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 0 0 200px 200px;
//   border-color: transparent transparent #ffffff transparent;
//   z-index:100;
// }

.main-visual-content {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: rgba(0, 50, 100, 1);
  border-radius: 10px;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0;
  color: #444444;
  z-index: 101;
  // z-indexとはボックスの重なり順序を指定するプロパティ
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
}

header, h1, p, h2, h3, h4, h5, h6, td, th, form, nav {
font-family: 'arial unicode ms', 'Caveat', cursive;
}
.nav-link {
  font-size: 20px;
}

body{
  // background-color: #ffebcd;
  background-image: url(back.png) ;
  background-color: rgba(0, 0, 0, 1);
}

td{
  background-color: #ffffff;
}

.sa {
  opacity: 0;
  transition: all .5s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 100px);
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background:#333;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 100vw;
  height: 69vw;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 140px;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}