<footer class="footer mt-4 py-2 bg-dark">
  <div class='container'>
    <p class="text-center text-light"><%= link_to "問い合わせ", new_contact_path %>はこちらへ！</p>
  <p class="text-center text-light">管理者の<%= link_to 'twitter', 'https://twitter.com/04_nakamoto04/', target: :_blank, rel: "noopener noreferrer" %></p>
  </div>
</footer>